html {
  box-sizing: border-box;
}
*,*:before,*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Work Sans',sans-serif;
  font-size: 20px;
  line-height: 1.464;
  color: #434343;
  margin: 0;
  padding-top: 107px;
}

img {
  width: 100%;
}

a {
  color: inherit;
}

h2 {
  font-weight: 600;
  margin-top: 0;
  display: block;
  text-align: center;
  font-size: 1.98em;
}

strong {
  font-weight: 600;
}

ul,
ol,
p,
blockquote {
  margin-top: 0;
}

ul:last-of-type,
ol:last-of-type,
p:last-of-type,
blockquote:last-of-type {
  margin-bottom: 0;
}

img+h2,
p+img {
  margin-top: 1em;
}

img {
  display: block;
}

.header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
}

.header-inner {
  display: flex;
  align-items: center;
  max-width: 1020px;
  margin: 0 auto;
}

.header-logo {
  width: 80px;
}

.header-title {
  margin-left: 25px;
  flex-grow: 1;
  font-size: 24px;
}

.header-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.header-nav li {
  display: inline-block;
  margin-left: 25px;
}

.header-nav a {
  text-decoration: none;
  transition: color 0.1s linear;
}

.header-nav a:hover {
  color: #ed5565;
}
  
.section {
  padding: 50px;
}

.section.section-unstyled {
  padding: 0;
}

.section-inner {
  max-width: 1020px;
  margin: 0 auto;
}

.section.section-unstyled .section-inner {
  max-width: inherit;
  margin: inherit;
}

.section-meet {
  background-color: #ed5565;
  color: #f0f0f0;
}

.section-about {
  background-color: #2c3136;
  color: #eaeaea;
}

.section-timetable {
  background-color: #434a54;
  color: #eaeaea;
}

.section-testimonials {
  background-color: #ed5565;
}

.tstm-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.tstm-item {
  width: 50%;
  margin-bottom: 50px;
}

.tstm-inner {
  background: #fff;
  margin: 0 25px;
  padding: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tstm-text {
  font-style: italic;
  flex-grow: 1;
  font-size: 0.875em;
  margin-bottom: 1em;
}

.tstm-source {
  text-align: right;
}

.section-footer {
  background-color: #e6e9ed;
  font-size: 0.75em;
  padding-top: 25px;
  padding-bottom: 25px;
}
